/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
}

/* 공통 부분 */
.wrapper {
  max-width: 1200px;
  /* border: 1px solid green; */
  margin: 0 auto;
}

/* 헤더 부분 */
header {
  background:white
}
/* header #header_top {
  border: 1px solid black;
} */
header #header_top #header_gnb ul {
  /* border: 1px solid black; */
  text-align: right;
  padding-right: 5%;
}
header #header_top #header_gnb ul li {
  padding: 4px 11px;
}
header #header_top #header_gnb ul li a {
  color: #444;
  font-size: 11pt;
}

header #header_bottom {
  /* border: 1px solid black; */
  padding-top: 20px;
}

header #header_bottom .wrapper {
  display: flex;
  justify-content: space-between;
}

/* header #header_bottom #title {
  border: 1px solid black;
} */

/* header #header_bottom #header_lnb {
  border: 1px solid black;
} */

header #header_bottom #header_lnb ul li {
  padding: 10px 30px;
}
header #header_bottom #header_lnb ul li a {
  color: #111;
  font-size: 14pt;
  font-weight: bold;
}

header #header_bottom #toggle {
  display: none;
}

header #header_bottom #phone {
  display: none;
}

/* 콘텐츠 부분 */
#contents {
  background: #ddd;
}
#contents #mainimage_wrapper {
  /* border: 1px solid blue; */
  background-color: black;
}

#contents #mainimage_wrapper {
  max-width: 1800px;
  margin: 0 auto;
}

#contents #class_wrapper {
  /* border: 1px solid blue; */
  background-color: #ddd;
}

/* 탭 메뉴 */
/* 첫번째 탭 _ 모집중인 과정 */
#contents #class_wrapper #class_tab {
  padding:20px 0;
}

#contents #class_wrapper #class_tab input {
  display: none;
}
#contents #class_wrapper #class_tab input ~ div {
  display: none;
}

#contents #class_wrapper #class_tab input:nth-of-type(1):checked ~ div:nth-of-type(1) {display: block;}
#contents #class_wrapper #class_tab input:nth-of-type(2):checked ~ div:nth-of-type(2) {display: block;}
#contents #class_wrapper #class_tab input:nth-of-type(3):checked ~ div:nth-of-type(3) {display: block;}
#contents #class_wrapper #class_tab input:nth-of-type(4):checked ~ div:nth-of-type(4) {display: block;}
#contents #class_wrapper #class_tab input:nth-of-type(5):checked ~ div:nth-of-type(5) {display: block;}
#contents #class_wrapper #class_tab input:nth-of-type(6):checked ~ div:nth-of-type(6) {display: block;}

/* 탭 모양 구성 */
/* 자식이 float 속성을 가지면 부모는 overflow 속성을 가져야 함*/
#class_tab section { overflow: hidden;} 
#class_tab section label {
  /* 크기 및 글자 위치 지정*/
  display: block; float: left; /* 블록 지정, 가로 정렬 */ 
  width: 200px; height: 50px;
  border: 1px solid gray;
  background: white;
  text-align: center;
  line-height: 50px;
  color: #555; font-weight:bold;
}

#class_tab input:nth-of-type(1):checked ~ section label:nth-child(1) {
  border-bottom: 3px solid #0d5fb6; color:#0d5fb6;}
#class_tab input:nth-of-type(2):checked ~ section label:nth-child(2) {
  border-bottom: 3px solid #0d5fb6; color:#0d5fb6;}
#class_tab input:nth-of-type(3):checked ~ section label:nth-child(3) {
  border-bottom: 3px solid #0d5fb6; color:#0d5fb6;}
#class_tab input:nth-of-type(4):checked ~ section label:nth-child(4) {
  border-bottom: 3px solid #0d5fb6; color:#0d5fb6;}
#class_tab input:nth-of-type(5):checked ~ section label:nth-child(5) {
  border-bottom: 3px solid #0d5fb6; color:#0d5fb6;}
#class_tab input:nth-of-type(6):checked ~ section label:nth-child(6) {
  border-bottom: 3px solid #0d5fb6; color:#0d5fb6;}

#class_tab .class_tab_item {
  text-align:center
}
#class_tab .class_tab_item img {width:24.6%;}

#contents #edu_wrapper {
  border: 1px solid black;
  background-color: #fff;
}

/*교육*/
#edu_wrapper .wrapper section {
  height: 4em;
  display: flex;
  margin: 10px;
}

#edu_wrapper {
  /* height: 300px; */
  padding: 10px;
}

#edu_wrapper .wrapper input {
  display: none;
}
#edu_wrapper .wrapper div {
  display: none;
}
/*버튼*/

 #edu_wrapper .wrapper input:nth-of-type(1):checked ~ div:nth-of-type(1) {
  display: block;
}
 #edu_wrapper .wrapper input:nth-of-type(2):checked ~ div:nth-of-type(2) {
  display: block;
}
#edu_wrapper .wrapper section label {
  border: 1px solid black;
  font-size: 1.2em;
  padding: 20px;
  width: 50%;
  text-align: center;
}


/*푸터*/
footer {
  width: 100%;
  background: gray;
}
footer #footer_1 {
  color: #ddd;
  border-bottom:1px dotted lightgray ;
  padding: 15px;
  font-size: 1em;
}
footer p {
  padding: 15px;
  color: #fff
}
footer img {
  margin-bottom: 10px;
}